@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito sans", sans-serif;
    height: 100%;
    background: #1f567c;
    font-size: 18px;
}

.input {
    text-align: center;
}

input[type="submit"] {
    padding: 5px 10px;
    background: #1f567c;
    color: red;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    border: none;
    border: 2px solid red;
}

input[type="submit"]:hover {
    color: white;
    background: red;
    border: 1px solid red;
}

input[type="submit"]:active {
    color: white;
    background: red;
    border: 1px solid red;
}

input[type="submit"]:visited {
    color: white;
    background: red;
    border: 1px solid red;
}

.input input[type="text"] {
    width: 300px;
    height: 55px;
    padding: 5px 5px;
    background: #e7e7e7;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid white;
}

.card {
    width: 50%;
    background: red;
    height: 30vh;
    margin: 35px auto;
    color: white;
    text-align: center;
}

.card h1 {
    padding: 5px 0;
    text-align: center;
}

.card p {
    text-align: center;
}